body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.zonaDeImagenes {
  width: 100%;
    background-image: url(../image/fondo.png);
    background-size: 98vw 97vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-position: center;
    /* height: 178vw; */
    max-width: 700px;
    max-height: 872px;
    align-items: center;
}
@media (min-width: 700px) {
  .zonaDeImagenes {
      background-size: cover;
  }
}

.imagen {
  width: 80%;
  max-width: 370px;
}

.imagen img {
  width: 100%; /* La imagen ocupará el 100% del ancho del div .imagen */
  display: block; /* Quita el espacio en blanco debajo de la imagen */
}
.botones{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  max-width: 240px;
}

.botones,.botones .btn{
  width: 50%;
}

.burbujas{
  display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;

}

.bubble {
  border-radius: 50%;
  position: relative;
  animation: float 8s ease-in-out infinite;
  box-shadow: 0 0 20px rgba(33, 137, 248, 0.384);
}

.bubble1 {
  width: 60px;
  height: 60px;
  background: radial-gradient(circle, rgba(0, 123, 255, 0), rgba(33, 180, 248, 0.45));
  animation: float 5s linear infinite;
}

.bubble2 {
  width: 90px;
  height: 90px;
  background: radial-gradient(circle, rgba(0, 123, 255, 0), rgba(33, 180, 248, 0.384));
  animation: float 7s linear infinite;
}

.bubble3 {
  width: 40px;
  height: 40px;
  background: radial-gradient(circle, rgba(0, 123, 255, 0), rgba(33, 180, 248, 0.384));
  animation: float 4s linear infinite;
}

.bubble4 {
  width: 80px;
  height: 80px;
  background: radial-gradient(circle, rgba(0, 123, 255, 0), rgba(33, 180, 248, 0.384));
  animation: float 6s linear infinite;
}

.bubble{
  pointer-events: none;
}

@keyframes float {
  0% {
      bottom: -100px; /* Empezar desde fuera de la vista */
      opacity: 0;
  }
  10% {
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  100% {
      bottom: 100vh; /* Ir más allá de la parte superior de la vista */
      opacity: 0;
  }
}

/* Estilos de la ventana emergente */
.emergente {
  display: none; /* Oculta la ventana emergente por defecto */
  position: fixed; /* Fija la posición de la ventana emergente */
  z-index: 1; /* Asegura que la ventana emergente esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilita el desplazamiento si el contenido es demasiado largo */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
}

/* Contenido de la ventana emergente */
.emergente-content {
  background-image: url(../image/aviso_fondo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho de la ventana emergente */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 650px;

}

/* Botón para cerrar la ventana emergente */
.close {
  position: fixed;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  width: 72%;
  text-align: end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.aviso{
  width: 50%;
  margin-bottom: 10px;
}

.btn-aviso{
  width: 25%;
  
}

.msj{
  width: 80%;
}

.musica{
  width: 100%;
  max-width: 700px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;

}

.mutear{
  background-color: transparent;
    border: none;
    padding: 30px;
    font-size: larger;
}