<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styleaviso.css" rel="stylesheet" />
    <title>Regalos</title>
</head>
<body>
    <div class="ventana-emergente">
        <img class="aviso"  src="{{ url_for('static',filename='image/aviso.png')}}" >
        <img class="msj" src="{{ url_for('static', filename='image/aviso_msj.png') }}" >
        <img class="btn" src="{{ url_for('static',filename='image/btn-aceptar.png')}}" onclick="toggleAsistencia()">
    </div>
    <script>
        function toggleAsistencia() {
          fetch('/enviar')
              .then(response => response.json())
              .then(data => {
                  const whatsappLink = data.whatsapp_link;
                  // Crear un elemento <a> dinámicamente
                  const a = document.createElement('a');
                  a.href = whatsappLink;
                  a.target = "_blank"; // Establecer el target
                  // Simular un clic en el enlace
                  a.click();
              })
              .catch(error => console.error('Error al enviar el mensaje:', error));
      }
    </script>
</body>

</html>