<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Baby shower</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" /> <!-- Agregamos nuestro archivo CSS -->
  <style>
    /* También puedes incluir la clase CSS aquí si no quieres enlazarlo desde un archivo externo */
    .acme-regular {
      font-family: "Acme", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>
</head>

<body>

    <div class="zonaDeImagenes">
      <div class="imagen">
        <img class="msj" src="{{ url_for('static',filename='image/msj-teesperamos.webp')}}">
      </div>
      <div class="botones">
        <img class="btn"  src="{{ url_for('static',filename='image/btn-asistencia.webp')}}" id="openEmergenteBtn">
        <img class="btn" src="{{ url_for('static', filename='image/btn-ubicacion.webp') }}" onclick="irADireccion()">
        <img class="btn" src="{{ url_for('static',filename='image/btn-regalo.webp')}}" onclick="irARegalos()">
        
    </div>
    <div class="burbujas">
      <div class="bubble bubble1"></div>
      <div class="bubble bubble2"></div>
      <div class="bubble bubble3"></div>
      <div class="bubble bubble4"></div>
    </div>
    <div id="emergente" class="emergente">
      <div class="emergente-content">
          <span id="closeEmergenteBtn" class="close">&times;</span>
      <img class="aviso"  src="{{ url_for('static',filename='image/aviso.webp')}}" >
      <img class="msj" src="{{ url_for('static', filename='image/aviso_msj.webp') }}" >
      <img class="btn-aviso" src="{{ url_for('static',filename='image/btn-aceptar.webp')}}" onclick="toggleAsistencia2()">
    </div>
  </div>
  <div class="musica">
    <audio id="background-music" src="{{ url_for('static', filename='sound/musicaDeFondo.mp3') }}" autoplay loop></audio>
      
    <button id="mute-button" class="mutear" onclick="toggleMute()">🔊</button>
  </div>
  <!--script-->
  <script src="{{ url_for('static', filename='/script/script.js') }}"></script>
</body>
</html>
