<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contador de días</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" /> <!-- Agregamos nuestro archivo CSS -->
  <style>
    /* También puedes incluir la clase CSS aquí si no quieres enlazarlo desde un archivo externo */
    .acme-regular {
      font-family: "Acme", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>
</head>



<body>

    <div class="zonaDeImagenes">
      <div class="imagen">
        <img class="msj" src="{{ url_for('static',filename='image/msj-teesperamos.png')}}">
      </div>
      <div class="botones">
        <img class="btn" src="{{ url_for('static',filename='image/btn-asistencia.png')}}">
        <img class="btn" src="{{ url_for('static',filename='image/btn-ubicacion.png')}}">
        <img class="btn" src="{{ url_for('static',filename='image/btn-regalo.png')}}">
    </div>

</body>
</html>
