<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Baby shower</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" /> <!-- Agregamos nuestro archivo CSS -->
  <style>
    /* También puedes incluir la clase CSS aquí si no quieres enlazarlo desde un archivo externo */
    .acme-regular {
      font-family: "Acme", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>
</head>

<body>

    <div class="zonaDeImagenes">
      <div class="imagen">
        <img class="msj" src="{{ url_for('static',filename='image/msj-teesperamos.png')}}">
      </div>
      <div class="botones">
        <img class="btn"  src="{{ url_for('static',filename='image/btn-asistencia.png')}}" onclick="toggleAsistencia()">
        <img class="btn" src="{{ url_for('static', filename='image/btn-ubicacion.png') }}" onclick="irADireccion()">
        <img class="btn" src="{{ url_for('static',filename='image/btn-regalo.png')}}" onclick="irARegalos()">
        
    </div>
    <div class="burbujas">
      <div class="bubble bubble1"></div>
      <div class="bubble bubble2"></div>
      <div class="bubble bubble3"></div>
      <div class="bubble bubble4"></div>
    </div>
    <div id="emergente" class="emergente">
      <div class="emergente-content">
          <span id="closeEmergenteBtn" class="close">&times;</span>
      <img class="aviso"  src="{{ url_for('static',filename='image/aviso.png')}}" >
      <img class="msj" src="{{ url_for('static', filename='image/aviso_msj.png') }}" >
      <img class="btn-aviso" src="{{ url_for('static',filename='image/btn-aceptar.png')}}" onclick="toggleAsistencia2()">
    </div>
  </div>
  <div class="musica">
    <audio id="background-music" src="{{ url_for('static', filename='sound/musicaDeFondo.mp3') }}" autoplay loop></audio>
      
    <button id="mute-button" class="mutear" onclick="toggleMute()">🔊</button>
  </div>
    <script>
      function toggleAviso() {
            window.location.href = "/aviso";
        }
      function irADireccion() {
            const a = document.createElement('a');
            a.href = "https://www.google.com/maps/place/Galvarino+2493,+Chiguayante,+B%C3%ADo+B%C3%ADo,+Chile/@-36.9136494,-73.0294044,17z/data=!3m1!4b1!4m5!3m4!1s0x9669b762e7ddbc1f:0xbc240be36e8b1b9b!8m2!3d-36.9136537!4d-73.0268295?hl=es&entry=ttu";
            a.target = "_blank";
            a.click();
        }
      // Redirige a la página de regalos
      function irARegalos() {
            window.location.href = "/regalos";
        }

        // Obtener los elementos del DOM
        const emergente = document.getElementById('emergente');
        const openEmergenteBtn = document.getElementById('openEmergenteBtn');
        const closeEmergenteBtn = document.getElementById('closeEmergenteBtn');

        // Mostrar la ventana emergente al hacer clic en el botón de abrir
        openEmergenteBtn.onclick = function() {
            emergente.style.display = 'block';
        }

        // Cerrar la ventana emergente al hacer clic en el botón de cerrar
        closeEmergenteBtn.onclick = function() {
            emergente.style.display = 'none';
        }

        // Cerrar la ventana emergente al hacer clic fuera del contenido de la ventana
        window.onclick = function(event) {
            if (event.target == emergente) {
                emergente.style.display = 'none';
            }
        }

        function toggleAsistencia() {
              fetch('/enviar')
                  .then(response => response.json())
                  .then(data => {
                      const whatsappLink = data.whatsapp_link;
                      // Crear un elemento <a> dinámicamente
                      const a = document.createElement('a');
                      a.href = whatsappLink;
                      a.target = "_blank"; // Establecer el target
                      // Añadir el enlace al DOM y hacer clic
                      document.body.appendChild(a);
                      a.click();
                      // Remover el enlace después de hacer clic
                      document.body.removeChild(a);
                  })
                  .catch(error => console.error('Error al enviar el mensaje:', error));
          }
          
          function toggleAsistencia2() {
            const telefono = "+5491123873922"; // Número de teléfono de destino
            const mensaje = "hola"; // Mensaje a enviar
            const whatsappLink = `https://api.whatsapp.com/send?phone=${telefono}&text=${encodeURIComponent(mensaje)}`;

            // Crear un elemento <a> dinámicamente
            const a = document.createElement('a');
            a.href = whatsappLink;
            a.target = "_blank"; // Establecer el target
            // Añadir el enlace al DOM y hacer clic
            document.body.appendChild(a);
            a.click();
            // Remover el enlace después de hacer clic
            document.body.removeChild(a);
        }

      function toggleMute() {
        var music = document.getElementById('background-music');
        var button = document.getElementById('mute-button');
        
        if (music.muted) {
            music.muted = false;
            button.textContent = '🔊';
        } else {
            music.muted = true;
            button.textContent = '🔇';
        }
    }
      
  </script>
</body>
</html>
