<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de {{ nombre }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" /> <!-- Agregamos nuestro archivo CSS -->
  <style>
    /* También puedes incluir la clase CSS aquí si no quieres enlazarlo desde un archivo externo */
    .acme-regular {
      font-family: "Acme", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>
</head>
<body>
  <h1>{{ nombre }}</h1>
  <button id="asistencia" class="fcc-btn" onclick="toggleAsistencia()">Confirmar asistencia</button>
  <a target="_blank" class="fcc-btn" id="whatsapp-link" href="#">ubicacion</a>
  
  <script>
    function toggleAsistencia() {
      fetch('/update_asistencia', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ nombre: '{{ nombre }}' })
      })
      .then(response => response.json())
      .then(data => {
        // Abrir enlace de WhatsApp en una nueva pestaña
        const whatsappLink = document.getElementById('whatsapp-link');
        whatsappLink.href = data.whatsapp_link;
        whatsappLink.click(); // Hacer clic automáticamente
      });
    }
</script>

</body>
</html>
