<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" />-->
    <!--<link href="{{ url_for('static',filename='css/styleregalo.css')}}" rel="stylesheet" /> -->
    <link href="../static/css/styleregalo.css" rel="stylesheet" />
    <title>regalos</title>
</head>
<body class="regalos">
    <div class="activo">ROPA</div>
    <div class="inactivo">JUGUETE</div>
    <div class="activo">MODA</div>
</body>
</html>