<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styleregalo.css" rel="stylesheet" />
    <title>Regalos</title>
</head>
<body>
    <div class="regalos">
        <div class="img-regalo">
            <img src="{{ url_for('static',filename='image/regalos-sugeridos.png')}}">
        </div>
        
            <div class="caja-de-regalos">
            
                {% for elemento in lista %}
                    {% if (elemento[3]%2 == 0)  %}
                    <div class="caja-exterior-1">
                    <div class="caja izq">
                        <div id="caja-exterior-{{ elemento[3] }}" class="caja-exterior"  onclick="AnotarRegalo('{{ elemento[0] }}','caja-exterior-{{ elemento[3] }}','btn-referencia-{{ elemento[3] }}')">
                            <div class="caja-interior">
                                <div class="caja-titulo">
                                    <div class="tiulo-secundario" id="tiulo-secundario-{{ elemento[3] }}" >
                                        <p class="titulo">{{ elemento[0] }}</p>
                                        <p class="descripcion">{{ elemento[1] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if elemento[2] %}
                            <a target="_blank" class="btn-referencia-escondido" href="{{ elemento[2] }}" id="btn-referencia-{{ elemento[3] }}">VER</a>

                            {% endif %}
                        </div>   
                    </div>
                    {% else %}
                    <div class="caja-exterior-1">
                        <div class="caja der">
                            <div id="caja-exterior-{{ elemento[3] }}" class="caja-exterior"  onclick="AnotarRegalo('{{ elemento[0] }}','caja-exterior-{{ elemento[3] }}','btn-referencia-{{ elemento[3] }}')">
                                <div class="caja-interior">
                                    <div class="caja-titulo">
                                        <div class="tiulo-secundario" id="tiulo-secundario-{{ elemento[3] }}" >
                                            <p class="titulo">{{ elemento[0] }}</p>
                                            <p class="descripcion">{{ elemento[1] }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if elemento[2] %}
                                <a target="_blank" class="btn-referencia-escondido" href="{{ elemento[2] }}" id="btn-referencia-{{ elemento[3] }}">VER</a>
    
                                {% endif %}
                            </div>   
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="botonera">
                    <img class="btn-confirmar-regalo2" src="{{ url_for('static',filename='image/btn-confirmar-regalo.png')}}"onclick="enviarRegalos()">
                </div>
            </div>
        <div class="img-regalo-debajo">
            <img src="{{ url_for('static',filename='image/regalos-sugeridos-debajo.png')}}">
        </div>
        <!--<img class="btn-confirmar-regalo" src="{{ url_for('static',filename='image/btn-confirmar-regalo.png')}}"onclick="enviarRegalos()">-->
        <div id="backArrow" class="back-arrow" onclick="volverAlHome()">&#8592;</div>
    </div>
<script>
    var listaDeRegalos = [];

    function AnotarRegalo(nombreRegalo, id,idbtn) {
        var check = document.getElementById(id);
        if (check.classList.contains('caja-exterior')) {
            check.classList.remove('caja-exterior');
            check.classList.add('caja-exterior-validado');
            listaDeRegalos.push(nombreRegalo);
        } else {
            check.classList.remove('caja-exterior-validado');
            check.classList.add('caja-exterior');
            eliminarRegalo(nombreRegalo);
        }


        var btn = document.getElementById(idbtn);
        if (btn){
            if (btn.classList.contains('btn-referencia-escondido')) {
                btn.classList.remove('btn-referencia-escondido');
                btn.classList.add('btn-referencia');
            } else {
                btn.classList.remove('btn-referencia');
                btn.classList.add('btn-referencia-escondido');
            }
        }
    }

    function eliminarRegalo(nombre) {
        listaDeRegalos = listaDeRegalos.filter(function(regalo) {
            return regalo !== nombre;
        });
    }

    function enviarRegalos() {
        var xhr = new XMLHttpRequest();
        var url = "/regalar";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

        xhr.onreadystatechange = function () {
             if (xhr.readyState === 4 && xhr.status === 200) {
             // Aquí puedes manejar la respuesta del backend si es necesario
                console.log(xhr.responseText);
                window.location.href = "/";
            }
        };

        xhr.send(JSON.stringify({ regalos: listaDeRegalos }));
        }
    
    function volverAlHome() {
        window.location.href = "/";
    }    

</script>

</body>
</html>

